<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Am 19. Januar 2019 veranstalten wir ein gemeinn&uuml;tziges Festival im K&ouml;lner Stadtgarten. Dabei wird jeglicher Gewinn an &Auml;rzte ohne Grenzen gespendet.">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}keinegrenzen Festival — Hip-Hop, Electro-Pop, Rock &amp; Techno für den guten Zweck{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/theme.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://tickets.keinegrenzen.org/event/festival/widget/v1.css">
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc2d2d">
</head>
<body itemscope itemtype="https://schema.org/Event">
<script type="text/javascript" src="/stat/pws.php?mode=js"></script>
<noscript>
    <img src="/stat/pws.php?mode=img" style="border:0; width:1px; height:1px" alt="noscript-img">
</noscript>
<header class="container">
    <h1 itemprop="name">
        <span>keine</span>
        <span>grenzen</span>
        <span>festival</span>
    </h1>
    <h2 itemprop="about">
        <span>Fundraising f&uuml;r</span>
        <span>&Auml;rzte ohne Grenzen</span>
    </h2>
    <p class="date" itemprop="startDate"><span class="day">19.</span><span class="month">Januar</span></p>
    <p class="location">Stadtgarten</p>
    <p class="doorTime" itemprop="doorTime"><span class="from">ab</span> 17 Uhr</p>
    <div class="cta">
        <a class="btn btn-cta scroll-to" href="#tickets">Jetzt Tickets kaufen</a>
    </div>
    <img class="logo" src="{{ asset('/images/lp_logo.svg') }}" title="Logo"
         alt="Dreigeteilter keinegrenzen.org Schriftzug">
</header>
<main>
    <section class="container paragraph" itemprop="composer" itemtype="https://schema.org/Organization">
        <div class="inner">
            <h2>Sch&ouml;n, dass Du da bist!</h2>
            <p itemprop="description">
                <strong>&bdquo;<span itemprop="name">KEINEGRENZEN</span>&ldquo;</strong> ist eine gemeinn&uuml;tzige
                Organisation die Musik und Kunst nutzt, um Spenden f&uuml;r Hilfsorganisationen wie
                <a itemprop="attendee"
                   itemtype="https://schema.org/NGO"
                   href="https://www.aerzte-ohne-grenzen.de/"
                   target="_blank"
                   rel="noopener nofollow">&bdquo;&Auml;rzte ohne Grenzen&ldquo;</a>
                zu sammeln.
            </p>
            <p>
                <a href="https://keinegrenzen.org/" title="keinegrenzen.org" target="_blank">Unsere Website</a>
                bietet aktuell zum Beispiel Musik von unabh&auml;ngigen K&uuml;nstlern zum kostenlosen Download an
                und erm&ouml;glicht es, sich per <strong>Spende an &Auml;rzte ohne Grenzen</strong> zu bedanken.
            </p>
            <p class="asterisk-spacer" itemprop="description">
                <strong>
                    Am 19. Januar 2019 veranstalten wir ein gemeinn&uuml;tziges Festival im K&ouml;lner Stadtgarten.
                    Dabei wird jeglicher Gewinn ebenfalls an &Auml;rzte ohne Grenzen gespendet.
                </strong>
            </p>
            <div class="cta">
                <a class="btn btn-cta scroll-to" href="#tickets">Jetzt Tickets kaufen</a>
            </div>
        </div>
    </section>
    <section class="container artists">
        <div class="row">
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/invo-und-enna.jpg') }}" title="INVO &amp; ENNA"
                         alt="Zwei Rapper, die auf der Bühne Spaß haben." itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">INVO &amp; ENNA</h4>
                        <span class="sr-only" itemprop="genre">Hip-Hop</span>
                        <p itemprop="description">Wenn Dichter und Denker aufeinander treffen kann man Großes
                            erwarten: bei Julian und Nils gibt es das auf satten Beats mit einer ordentlichen
                            Ladung sozialer Kritik.</p>
                        <button type="button" class="btn sc-trigger" data-track="[0, 1]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/waking-up-in-stereo.jpg') }}" title="Waking Up In Stereo"
                         alt="Die Brüder mit Spaß bei der Sache." itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Waking Up In Stereo</h4>
                        <span class="sr-only" itemprop="genre">Electro-Pop</span>
                        <p itemprop="description">Die Br&uuml;der Arin und Armen zaubern mit Synthesizern,
                            Gitarren
                            und Gesang ein seliges L&auml;cheln in die Gesichter ihres Publikums und erschaffen
                            Klangwelten, in die man vollends eintauchen kann.</p>
                        <button type="button" class="btn sc-trigger" data-track="[2]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/suburbian-rex.jpg') }}" title="Suburbian Rex"
                         alt="Die Band bestehend aus Gitarrist und Sänger, Bassist und Drummer."
                         itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Suburbian Rex</h4>
                        <span class="sr-only" itemprop="genre">Rock'n'Roll</span>
                        <p itemprop="description">Anton, Ivo und Julian bringen eine Power auf die B&uuml;hne, der
                            niemand widerstehen kann und eine Leidenschaft, die den Raum vom Boden bis zur Decke
                            in Brand setzen wird.</p>
                        <button type="button" class="btn sc-trigger" data-track="[3]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            {#
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/memoria.jpg') }}" title="Memoria"
                         alt="Die Achtk&ouml;pfige Band vor einem vollgespr&uuml;hten Altbau." itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Memoria</h4>
                        <span class="sr-only" itemprop="genre"></span>
                        <p itemprop="description">Liebe und Freundschaft schweißen diese Band zu einer Familie,
                            die aus Musik Gl&uuml;ckseligkeit zaubert. Warmer Reggae wird uns im kalten Januar eine
                            gem&uuml;tliche Stunde Urlaub am &Auml;quator bescheren.</p>
                        <a class="btn" href="https://keinegrenzen.org/enna" target="_blank" rel="noopener nofollow">Jetzt Anh&ouml;ren</a>
                    </div>
                </div>
            </div>
            #}
            <div class="col hidden" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <div class="text">
                        <h4 class="title" itemprop="name">Headliner TBA</h4>
                        <span class="sr-only" itemprop="genre"></span>
                        <p itemprop="description">Wer wird wohl dem Abend noch die Kirsche samt Sahneh&auml;ubchen
                            aufsetzen? Das erfahrt Ihr zum Neujahr!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/cute-but-evil-und-daniel-vee.jpg') }}"
                         title="Cute But Evil &amp; Daniel Vee"
                         alt="Daniel und Tobias" itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Cute But Evil &amp; Daniel Vee</h4>
                        <span class="sr-only" itemprop="genre">Electronic</span>
                        <p itemprop="description">Anschließend wird es eine beeindruckende Kombination aus
                            modularer elektronischer Musik (Daniel) und analogen Visuals (Tobias)
                            geben, beides improvisiert und aus dem Moment geboren.</p>
                        <button type="button" class="btn sc-trigger" data-track="[4, 5]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/cubical.jpg') }}" title="Cubical"
                         alt="Anil tr&auml;gt ein Shirt, auf de &quot;Manager&quot; steht." itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Cubical</h4>
                        <span class="sr-only" itemprop="genre">Techno</span>
                        <p itemprop="description">Anil widmet sein Leben der Musik mit einer bewundernswerten
                            Philosophie: er nutzt jede Gelegenheit Neues zu erkunden und zu lernen. Dadurch
                            entwickeln sich die feinsten Methoden und Tricks — egal, ob beim Musizieren oder
                            beim Auflegen.</p>
                        <button type="button" class="btn sc-trigger" data-track="[6]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/blade-and-beard.jpg') }}" title="Blade&amp;Beard"
                         alt="Arash &amp; Anoos auf einer Treppe" itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Blade&amp;Beard</h4>
                        <span class="sr-only" itemprop="genre">Techno</span>
                        <p itemprop="description">Geflohen aus einem Land, das Techno zum Werk des Teufels
                            erkl&auml;rt, haben Arash und Anoosh mit ihrem Talent und ihrer faszinierenden
                            Gelassenheit Europa von ihrer Liebe zur Musik buchst&auml;blich im Handumdrehen
                            &uuml;berzeugt.</p>
                        <button type="button" class="btn sc-trigger" data-track="[7]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
            <div class="col" itemprop="attendee" itemtype="https://schema.org/MusicGroup">
                <div class="inner">
                    <img src="{{ asset('images/montefusco.jpg') }}"
                         title="Montefusco"
                         alt="Giovanni schaut konzentriert zur Seite." itemprop="image">
                    <div class="text">
                        <h4 class="title" itemprop="name">Montefusco</h4>
                        <span class="sr-only" itemprop="genre">Techno</span>
                        <p itemprop="description">Giovanni wird einen gut aufgeheizten Raum &uuml;bernehmen und
                            der Nacht auch noch das letzte verf&uuml;gbare Qu&auml;ntchen Euphorie schenken.</p>
                        <button type="button" class="btn sc-trigger" data-track="[8]">Jetzt Anh&ouml;ren</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container tickets" id="tickets">
        <h2>Hol&apos; Dir jetzt Dein Ticket</h2>
        <p class="description">
            &bdquo;Name your own price&ldquo;:
            <br>
            15&euro;/25&euro; sind jeweils das Minimum, wer mehr spenden m&ouml;chte kann das sehr gerne tun!
            <br>
            Einfach einen eigenen Preis in die Box eintragen, die Anzahl an Tickets eintragen und den dicken blauen
            Knopf dr&uuml;cken.
        </p>
        <pretix-widget event="https://tickets.keinegrenzen.org/event/festival/"></pretix-widget>
        <noscript>
            <div class="pretix-widget">
                <div class="pretix-widget-info-message">
                    JavaScript ist in Ihrem Browser deaktiviert. Um unseren Ticket-Shop ohne JavaScript
                    aufzurufen, klicken Sie bitte <a target="_blank" rel="noopener"
                                                     href="https://tickets.keinegrenzen.org/event/festival/">hier</a>.
                </div>
            </div>
        </noscript>
    </section>
    <section class="container infos section-wrapper">
        <div class="section">
            <h2>Wo genau?</h2>
            <p class="location" itemprop="location" itemtype="https://schema.org/Place">
                        <span itemprop="name">
                            <a href="https://goo.gl/maps/TfZbHffwSn62" rel="noopener nofollow" target="_blank">
                                Stadtgarten Konzertsaal
                            </a>
                        </span>
                <br>
                <span itemprop="address">Venloer Straße 40<br>50672 K&ouml;ln</span>
            </p>
        </div>
        <div class="section">
            <h2>Wann genau?</h2>
            <p>Samstag, den 19. Januar 2019</p>
            <p>Doors: 17:00 Uhr</p>
            <p>Konzerte: <span>18:00 Uhr</span> <a href="https://www.facebook.com/events/315246155746899/"
                                                   rel="noopener nofollow">(Facebook)</a></p>
            <p>Techno: <span>23:00 Uhr</span> <a href="https://www.facebook.com/events/2266712163581362/"
                                                 rel="noopener nofollow">(Facebook)</a></p>
        </div>
    </section>
    <section class="timetable">
        <div class="row">
            <span><i>18<br>Uhr</i>&nbsp;INVO &amp;ENNA</span>
            <span><i>19<br>Uhr</i>&nbsp;Waking Up In Stereo</span>
            <span><i>20<br>Uhr</i>&nbsp;Suburbian Rex</span>
        </div>
        <div class="row">
            <span><i>21<br>Uhr</i>&nbsp;Headliner TBA</span>
            <span><i>22<br>Uhr</i>&nbsp;Cute But Evil &amp; Daniel Vee</span>
            <span><i>23<br>Uhr</i>&nbsp;Cute But Evil</span>
        </div>
        <div class="row">
            <span><i>24<br>Uhr</i>&nbsp;Cubical</span>
            <span><i>01<br>Uhr</i>&nbsp;Blade&amp;Beard</span>
            <span><i>04<br>Uhr</i>&nbsp;Montefusco</span>
        </div>
    </section>
</main>
<nav class="container fixed-nav">
    <div class="section-contact">
        <a href="tel:+4917630594643" class="phone contact-button">
            <svg class="icon contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path class="cls-1"
                      d="M44.52,87.56a22.75,22.75,0,0,0,30.61,10l6.68-3.41a5.73,5.73,0,0,0,2.51-7.7L76.47,71a5.72,5.72,0,0,0-7.7-2.5L60.14,72.9a4.87,4.87,0,0,1-6.54-2.12L36.47,37.16h0a4.87,4.87,0,0,1,2.12-6.54l8.63-4.4a5.66,5.66,0,0,0,2.85-3.33,5.72,5.72,0,0,0-.34-4.37L41.88,3.11A5.73,5.73,0,0,0,36.78,0a5.66,5.66,0,0,0-2.6.63L27.5,4A22.46,22.46,0,0,0,17.34,14.41a21.9,21.9,0,0,0-1.15,2.86,22.55,22.55,0,0,0,1.37,17.36Z"></path>
            </svg>
            <span class="text">
                        Anrufen
                    </span>
        </a>
        <a href="mailto:kontakt@keinegrenzen.org" class="mail contact-button">
            <svg class="icon contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path class="cls-1"
                      d="M7,82.19,21.88,67,34.32,54.23,42.07,62c4.27,4.27,7.83,7.75,7.93,7.75s3.61-3.43,7.81-7.63l7.64-7.64L77.89,67.2,92.63,82.3l2.3,2.36H4.61L7,82.19Zm77.7-16c-8.37-8.57-15.23-15.61-15.25-15.65s6.85-6.95,15.25-15.35L100,19.91V50.84c0,17,0,30.93,0,30.93s-6.9-7-15.27-15.58ZM0,50.64V19.91L15.16,35.07c8.34,8.34,15.15,15.2,15.14,15.24S24,56.75,16.44,64.53,2,79.29,1.31,80L0,81.37V50.64Zm26.67-12L3.41,15.34H96.59L73.32,38.6C60.53,51.39,50,61.86,50,61.86S39.47,51.39,26.68,38.6Z"></path>
            </svg>
            <span class="text">
                        Mailen
                    </span>
        </a>
        <a href="https://wa.me/4917630594643/?text=Hallo%20Barthy!" class="wapp contact-button">
            <svg class="icon contact-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path class="cls-1"
                      d="M50,0A50,50,0,0,0,8.83,78.36a2.52,2.52,0,0,1,.31,2.15l-5.08,17L20.7,91.76a2.51,2.51,0,0,1,2.15.27A50,50,0,1,0,50,0ZM29.53,21.8l9.1,15-3.79,3.75a2.5,2.5,0,0,0-.39,3c5.79,10,12.64,17.81,22.23,22a2.52,2.52,0,0,0,2.77-.51l4-4,14.68,9.18A13.84,13.84,0,0,1,72,77.38c-2.81,1.47-6.24,1.75-10.15.94-7.84-1.62-17.3-7.78-25-15.66S23.16,45.18,21.64,37.38c-.76-3.9-.42-7.26,1-9.92a12.65,12.65,0,0,1,6.87-5.66Z"></path>
            </svg>
            <span class="text">
                        Chatten
                    </span>
        </a>
    </div>
</nav>
<footer class="container section-wrapper">
    <div class="imprint section">
        <p class="strong">
            keinegrenzen.org<br>
            Gemeinn&uuml;tziges Musikprojekt
        </p>
        <p>
            Barth&eacute;l&eacute;my Bonhomme<br>
            Drosselweg 22<br>
            50735 Köln<br>
            Deutschland<br>
            E-Mail: kontakt@keinegrenzen.org<br>
            Tel: <a href="tel:+4917630594643" title="Kontakt aufnehmen">+49 176 30594643</a><br>
        </p>
    </div>
    <div class="notices section">
        <div class="social">
            <a href="https://instagaram.com/keinegrenzen_org" rel="noopener nofollow" target="_blank"
               title="keinegrenzen Instagram" class="icon">
                <img src="{{ asset('images/instagram.svg') }}" title="keinegrenzen Instagram" alt="Ein Logo, das an eine alte Kamera erinnert.">
            </a>
            <a href="https://www.instagram.com/keinegrenzen_org/" rel="noopener nofollow" target="_blank"
               title="keinegrenzen Instagram" class="icon">
                <img src="{{ asset('images/facebook.svg') }}" title="keinegrenzen Instagram" alt="Ein Logo, das an eine alte Kamera erinnert.">
            </a>
        </div>
        <p class="copyright">
            &copy; 2016-{{ "now"|date("Y") }} Barth&eacute;l&eacute;my Bonhomme
        </p>
        <p class="origin">
            Mit <span>
                        <img class="icon" src="{{ asset('images/smile.svg') }}" title="Leidenschaft" alt="Smileyface">
                        <i class="sr-only">Leidenschaft</i>
                    </span> entwickelt in K&ouml;ln
        </p>
    </div>
</footer>
<div class="soundcloud">
    <h4 class="title">Musik H&ouml;ren</h4>
    <iframe width="100%" height="450" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/668710692&color=%23fc2d2d&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_artwork=false&download=false&sharing=false&buying=false"></iframe>
</div>

{% block javascripts %}
    <script src="{{ asset('build/js/theme.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/js/SoundCloud.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="https://tickets.keinegrenzen.org/widget/v1.de.js" async></script>
{% endblock %}
</body>
</html>
