{% set title = 'keinegrenzen Festival — Zahlen' %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <title>{{ title }}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/theme.css') }}"/>
            <link rel="stylesheet" href="{{ asset('build/css/numbers.css') }}"/>
        {% endblock %}
        <link rel="canonical" href="https://festival.keinegrenzen.org">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc2d2d">
    </head>
    <body itemscope itemtype="https://schema.org/Event">
        <main>
            <h1>keinegrenzen Festival: Kosten & Abrechnung</h1>
            <span>
                TBA &equals; To Be Announced<br>
                TBU &equals; To Be Updated<br>
                &nbsp;
            </span>
            <section class="container paragraph table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="table-primary">
                        <th colspan="3">Ausgaben</th>
                    </tr>
                    <tr class="table-sm">
                        <th scope="col">Position</th>
                        <th colspan="2" scope="col">Betrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <th scope="row">Booking</th>
                        <td colspan="2">&minus;{{ booking }}&euro;</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Veranstaltungsort Miete</th>
                        <td colspan="2">TBA</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Catering & Hospitality</th>
                        <td colspan="2">&minus;{{ catering }}&euro; (TBU)</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Extras (B&auml;ndchen, Taschenascher)</th>
                        <td colspan="2">&minus;{{ extras }}&euro;</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Print</th>
                        <td colspan="2">&minus;{{ print }}&euro;</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">Promotions</th>
                        <td colspan="2">&minus;{{ promo }}&euro;</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">GEMA</th>
                        <td colspan="2">&minus;{{ gema }}&euro; (TBU)</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">K&uuml;nsterlsozialkasse</th>
                        <td colspan="2">{{ ksk }}</td>
                    </tr>

                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="table-primary">
                        <th colspan="4">Einnahmen</th>
                    </tr>
                    <tr class="table-sm">
                        <th scope="col">Position</th>
                        <th colspan="3" scope="col">Betrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" class="table-success align-middle">Tickets</th>
                        <td colspan="1" class="table-success align-middle">&plus;{{ net }}&euro;</td>
                        <td colspan="1" class="table-warning">Brutto: &plus;{{ gross }}&euro;</td>
                        <td colspan="1" class="table-danger">PayPal & Stripe: &minus;{{ gross-net }}&euro;</td>
                    </tr>
                    <tr class="table-secondary">
                        <th scope="row">Taschenascher</th>
                        <td colspan="3">TBA</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="table-primary">
                        <th colspan="3">Bilanz</th>
                    </tr>
                    <tr class="table-sm">
                        <th scope="col">Position</th>
                        <th colspan="2" scope="col">Betrag</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-danger">
                        <th scope="row">Ausgaben</th>
                        <td colspan="2">&minus;{{ sum }}&euro;</td>
                    </tr>
                    <tr class="table-success">
                        <th scope="row">Einnahmen</th>
                        <td colspan="2">&plus;{{ net }}&euro;</td>
                    </tr>
                    <tr class="{{ sum + net > 0 ? 'table-warning' : 'table-success' }}">
                        <th scope="row">Gesamt</th>
                        <td colspan="2">{{ net - sum }}&euro;</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <footer class="container section-wrapper">
            <div class="imprint section">
                <p class="strong">
                    keinegrenzen.org<br>
                    Gemeinn&uuml;tziges Musikprojekt
                </p>
                <p>
                    Barth&eacute;l&eacute;my Bonhomme<br>
                    Drosselweg 22<br>
                    50735 Köln<br>
                    Deutschland<br>
                    E-Mail: kontakt@keinegrenzen.org<br>
                    Tel: <a href="tel:+4917630594643" title="Kontakt aufnehmen" class="text-white">+49 176 30594643</a><br>
                </p>
            </div>
            <div class="notices section">
                <div class="social">
                    <a href="https://instagaram.com/keinegrenzen_org" rel="noopener nofollow" target="_blank"
                       title="keinegrenzen Instagram" class="icon">
                        <img src="{{ asset('images/instagram.svg') }}" title="keinegrenzen Instagram"
                             alt="Ein Logo, das an eine alte Kamera erinnert.">
                    </a>
                    <a href="https://www.instagram.com/keinegrenzen_org/" rel="noopener nofollow" target="_blank"
                       title="keinegrenzen Instagram" class="icon">
                        <img src="{{ asset('images/facebook.svg') }}" title="keinegrenzen Facebook"
                             alt="Ein Logo, das an eine alte Kamera erinnert.">
                    </a>
                </div>
                <p class="copyright">
                    &copy; 2016-{{ "now"|date("Y") }} Barth&eacute;l&eacute;my Bonhomme
                </p>
                <p class="origin">
                    Mit <span>
                        <img class="icon" src="{{ asset('images/smile.svg') }}" title="Leidenschaft" alt="Smileyface">
                        <i class="sr-only">Leidenschaft</i>
                    </span> entwickelt in K&ouml;ln
                </p>
            </div>
        </footer>
    </body>
</html>


