{% set title = 'keinegrenzen Festival — Statistiken' %}
{% set buildType = is_modern_browser() ? 'modern' : 'legacy' %}
{% set image = 'https://festival2019.keinegrenzen.org/images/banner.png?v=3' %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <meta
      name="msapplication-TileColor"
      content="#2b5797"
    >
    <meta
      property="og:image"
      content="{{ image }}"
    >
    <meta
      name="theme-color"
      content="#ffffff"
    >
    <title>{{ title }}</title>

    {% if not app.debug %}
      {% include 'partials/ccm.twig' only %}
    {% endif %}

    {% block stylesheets %}
      {{ encore_entry_link_tags('theme', entrypointName = buildType) }}
      {{ encore_entry_link_tags('numbers', entrypointName = buildType) }}
    {% endblock %}
    <link
      rel="canonical"
      href="https://festival.keinegrenzen.org"
    >
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    >
    <link
      rel="manifest"
      href="/site.webmanifest"
    >
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#fc2d2d"
    >
  </head>
  <body>
    <header>
      <a
        href="{{ path('index') }}"
      >
        ⟵ zurück zur Startseite
      </a>
    </header>

    <main>
      <img
        class="stats"
        src="{{ asset('/images/stats.jpg') }}"
        alt="Statistics"
        title="Statistics"
      >
    </main>

    {% include 'partials/footer.html.twig' %}

  </body>
</html>
