{% set title = 'keinegrenzen Festival — Statistiken' %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"
        >
        <meta name="msapplication-TileColor"
              content="#2b5797"
        >
        <meta name="theme-color"
              content="#ffffff"
        >
        <title>{{ title }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('theme') }}
            {{ encore_entry_link_tags('numbers') }}
        {% endblock %}
        <link rel="canonical"
              href="https://festival.keinegrenzen.org"
        >
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="/apple-touch-icon.png"
        >
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="/favicon-32x32.png"
        >
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="/favicon-16x16.png"
        >
        <link rel="manifest"
              href="/site.webmanifest"
        >
        <link rel="mask-icon"
              href="/safari-pinned-tab.svg"
              color="#fc2d2d"
        >
    </head>
    <body>
        <header>
            <a
                    href="{{ path('index') }}"
            >
                ⟵ zurück zur Startseite
            </a>
        </header>

        <main>
            <img class="stats"
                 src="{{ asset('/images/stats.jpg') }}"
                 alt="Statistics"
                 title="Statistics"
            >
        </main>

        {% include 'partials/footer.html.twig' %}

    </body>
</html>
